<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="loggingPattern" value="%d [%-5level] [%thread] %logger{5} - [%X{consumerId}, %X{callId}, %X{userId}] - %m%n"/>

    <logger name="org.apache.cxf" level="OFF"/>
    <logger name="org.apache.ws.security.validate.SignatureTrustValidator" level="ERROR"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{HH:mm:ss}) %cyan([%-5.5t]) %boldCyan(%0.-5p) %yellow(%-20.20logger{19}) %cyan(:) %m%n</pattern>
        </encoder>
    </appender>

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${syslog.filter.level:-INFO}</level>
        </filter>
        <syslogHost>localhost</syslogHost>
        <facility>LOCAL1</facility>
        <suffixPattern>modia-soap-til-rest-proxy %mdc %logger {30} %m %n%rEx</suffixPattern>
        <throwableExcluded>true</throwableExcluded>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SYSLOG"/>
    </root>

</configuration>